body{
	background-color: #D6D2C7;
}

h1, h2 {
	font-family: 'Vast Shadow', cursive;
	font-weight: 400;
	color: #333;
}

h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #333;

}

a:hover {
	color: #333;
	background-color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.jumbotron h1{
	font-size: 3.5em;
}


p, a {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 1.5em;
	font-weight: 300;
}

.jumbotron {
	background-image: url(../images/coffee-hand.jpg);
	margin-top: -20px;
	height:500px;
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron h1 {
	color: #333;

}

.jumbotron p {
	color: #fff;
}

.navbar {
	border-radius: 0;
	background-color: #278E7B;
}

.navbar a {
	color: #fff;
	margin-top: 15px;
	font-size: 1.2em;
}

.navbar a:hover {
	border-radius: 5px;
}


#map, #gallery, #about h1, #data h1 {
	text-align: center;
}

#world-map {
	margin: 50px 0 20px 10%;
}

#map h1, #about h1, #gallery h1, #data h1 {
	border-bottom: 2px solid #57392E;
	padding-top: 40px;
	padding-bottom: 20px;
}

#about{
	background-color: #F2D19B;
	padding-bottom: 150px;
}

#about section, #images {
	padding-top: 60px;
}

#gallery {
	background-color: #2EC288;
	padding-bottom: 150px;
}

footer{
	background-color: #278E7B;
	padding-top: 50px;
	padding-bottom: 70px;
}

#data {
	background-color: #968680;
	padding-bottom: 150px;
}

#data1, #data2 {
	padding-top: 60px;
}
#data1 h3, #data2 h3{
	text-align: center;
}

#data1{
	margin-right: 100px;
}
